$VIVID_CERULEAN: rgba(0, 162, 216, 1);
$noir: rgba(0, 0, 0, 1);
$blanc: rgba(255, 255, 255, 1);
$gris: rgba(178, 178, 178, 1);
header {
    width: 100%;
    h1 {
        text-align: center;
        font-size: 1000%;
        font-weight: bold;
    }
    div {
        div {
            div {
                div {
                    left: 10%;
                    width: 70% !important;
                    box-shadow: 0 1px 0 $noir;
                }
            }
        }
    }
}