$C1:black;
$C2:white;
$C3:rgba(0, 162, 216, 1);
section {
    width: 95%;
    margin: auto auto;
    height: 450px;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 25px;
    &::-webkit-scrollbar {
        width: 45px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $C1;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track-piece {
        background-image: linear-gradient(90deg, $C3 0%, $C2 55%, $C3 100%);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(90deg, $C3 0%, $C2 55%, $C3 100%);
        border-radius: 10px;
        box-shadow: inset 2px 0px 10px $C1;
        transition: background-image 1.5s;
        &:hover {
            background-image: linear-gradient(90deg, $C2 0%, $C3 55%, $C2 100%);
            box-shadow: inset -2px 0px 10px $C1;
        }
    }
    .row {
        margin-right: 0 !important;
    }
    .card {
        padding: 5px;
        margin-bottom: 10px;
        width: 390px;
        height: 300px;
        margin: 10px;
        .card-title {
            font-size: 12.5px;
            width: 245px;
            border-bottom: solid 1px $C1;
            border-right: solid 2px $C1;
            box-shadow: 0 1px 5px $C1;
        }
        .card-img-top {
            padding: 5px;
            height: 100px;
            filter: drop-shadow(5px 5px 5px #222);
            margin: auto auto;
        }
        .badge {
            height: 20px;
            position: absolute;
            width: 150px;
            top: 5px;
            right: 0;
            background: $C1;
            color: $C2;
        }
        .generateur {
            z-index: 2;
            white-space: nowrap;
            vertical-align: baseline;
            height: 20px;
            position: absolute;
            width: 150px;
            top: 25px;
            right: 0;
            border: solid 1px $C1;
            border-left: solid 2px $C1;
            text-align: center;
            vertical-align: middle;
            font-size: 12px;
            background-color: $C2;
        }
        a {
            position: absolute;
            bottom: 5px;
        }
        .card-body {
            height: 200px;
        }
    }
}

footer {
    .creators_conteneur {
        position: absolute;
        right: 0;
        top: 0;
    }
    .copyrighter {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    img {
        text-align: left;
        height: 35px;
    }
}