@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
#brand {
  font-family: "Nerko One", cursive;
  font-size: 1.5rem;
}

.nav-item a {
  font-family: "Nerko One", cursive;
  font-size: large;
}

body {
  background-color: #1b1b1b;
}

.searcher select {
  width: 95px;
}
.searcher input {
  width: 35vw;
}
.searcher button {
  width: 50px;
  height: 50px;
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  section {
    justify-content: center;
  }
}
@media (orientation: landscape) {
  section {
    justify-content: space-between;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

footer {
  background-color: #343a40 !important;
  text-align: center;
  margin: 0;
  height: 70px;
  bottom: 0;
  width: 100%;
}
footer p {
  color: white;
}
@media only screen and (max-width: 600px) {
  footer p {
    font-size: 1em;
  }
}
footer p a {
  color: grey;
}
footer p a:hover {
  color: rgb(160, 160, 160);
}

h1 {
  color: white;
  text-align: center;
  font-family: "Nerko One", cursive;
}

.presentation {
  position: relative;
  width: 95vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: auto auto;
}
.presentation h2 {
  border-radius: 0 0 50px 50px;
  display: block;
  border-bottom: 2px grey solid;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
}
.presentation p {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding-bottom: 10px;
}
.presentation .separation {
  display: flex;
  width: 60vw;
  margin: auto auto;
}
.presentation .separation ul {
  list-style-type: none;
  text-align: center;
  border: 2px grey solid;
  width: 50%;
  padding: 0;
}
.presentation .separation ul li {
  border: 1px rgb(255, 255, 255) solid;
  background-color: black;
  color: white;
}
.presentation .separation ul li:nth-child(2n-1) {
  background-color: white;
  color: black;
}

@media (orientation: landscape) {
  .index_selection {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    scroll-behavior: smooth;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    min-height: 0;
    margin-top: 15px;
  }
}
@media (orientation: portrait) {
  .index_selection {
    flex-direction: column !important;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */