    $C1:black;
    $C2:rgb(255, 255, 255);
    $C3:rgb(0, 42, 56);
    @mixin F1() {
        color: $C1;
        font-family: 'Kalam', cursive;
        text-shadow: $C2 1px 1px, $C2 -1px 1px, $C2 -1px -1px, $C2 1px -1px;
        font-weight: bold;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
    #brand {
        font-family: 'Nerko One', cursive;
        font-size: 1.5rem;
    }
    
    .nav-item {
        a {
            font-family: 'Nerko One', cursive;
            font-size: large;
        }
    }
    
    // Version en paysage
    @media (orientation:landscape) {
        body {
            margin: 0;
            overflow-y: hidden;
            background-color: rgb(17, 17, 17) !important;
        }
        .icone {
            width: 25px;
            height: 25px;
        }
        section {
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            width: 86%;
            margin: auto auto;
            height: 88vh;
            padding: 50px;
            margin-bottom: 25px;
            background-color: rgb(17, 17, 17) !important;
            &::-webkit-scrollbar {
                width: 15px;
            }
            &::-webkit-scrollbar-track {
                border: 1px solid $C3;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: $C2;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 10px;
                &:hover {
                    background-color: $C3;
                }
            }
            .row {
                margin-right: 0 !important;
            }
            a {
                .card {
                    border: 1px solid $C1;
                    padding: 5px;
                    margin-bottom: 10px;
                    width: 480px;
                    height: 300px;
                    margin: 10px;
                    transform: scale(1.0);
                    transition: all 0.9s;
                    background-color: rgb(39, 39, 39);
                    .card-title {
                        left: 0px;
                        margin-left: 10px;
                        top: 0;
                        z-index: 2;
                        font-size: 0.8rem;
                        width: 60%;
                        color: $C2;
                        text-shadow: 0 1px 0 $C3;
                    }
                    .card-img-top {
                        z-index: 2;
                        position: absolute;
                        width: 25%;
                        right: 15px;
                        top: 55px;
                        margin: auto auto;
                    }
                    .badge {
                        z-index: 1;
                        height: 100%;
                        position: absolute;
                        width: 150px;
                        top: 0;
                        right: 0;
                    }
                    .card-body {
                        height: 200px;
                        .card-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            bottom: 0;
                            left: 0;
                            text-align: center;
                            height: 270px;
                            width: 50%;
                            position: absolute;
                            z-index: 0;
                            text-shadow: $C1 1px 1px, $C1 -1px 1px, $C1 -1px -1px, $C1 1px -1px;
                            span {
                                vertical-align: middle;
                                font-size: 1.1em;
                                &::selection {
                                    color: $C1;
                                    background-color: rgba(0, 119, 255, 0.479);
                                }
                            }
                        }
                    }
                }
                &:hover {
                    transform: scale(0.99);
                }
            }
        }
        .generateur {
            z-index: 1;
            color: $C2;
            text-shadow: $C1 1px 1px, $C1 -1px 1px, $C1 -1px -1px, $C1 1px -1px;
            white-space: nowrap;
            vertical-align: baseline;
            height: 20px;
            position: absolute;
            width: 150px;
            top: 25px;
            right: 0;
            border: solid 1px $C1;
            border-left: solid 2px $C1;
            text-align: center;
            vertical-align: middle;
            font-size: 12px;
            background: black;
        }
    }
    
    // Version en portrait
    @media (orientation: portrait) {
        body {
            margin: 0;
            overflow-y: hidden;
            background-color: rgb(20, 20, 20) !important;
        }
        .icone {
            width: 25px;
            height: 25px;
        }
        section {
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            width: 86%;
            margin: auto auto;
            height: 88vh;
            padding: 50px;
            margin-bottom: 25px;
            background-color: rgb(20, 20, 20) !important;
            &::-webkit-scrollbar {
                width: 15px;
            }
            &::-webkit-scrollbar-track {
                border: 1px solid $C3;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: $C2;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 10px;
                &:hover {
                    background-color: $C3;
                }
            }
            .row {
                margin-right: 0 !important;
            }
            a {
                .card {
                    border: 1px solid $C2;
                    padding: 5px;
                    margin-bottom: 10px;
                    width: 60vw;
                    height: 25vh;
                    margin: 10px;
                    transform: scale(1.0);
                    transition: all 0.9s;
                    background-color: #272727;
                    .card-title {
                        left: 0;
                        margin-left: 10px;
                        top: 0;
                        z-index: 2;
                        font-size: 2.1vh;
                        width: 60%;
                        color: $C2;
                        text-shadow: 0 1px 0 $C1;
                    }
                    .card-img-top {
                        z-index: 2;
                        position: absolute;
                        width: 25%;
                        right: 5px;
                        top: 55px;
                        margin: auto auto;
                    }
                    .badge {
                        z-index: 1;
                        height: 100%;
                        position: absolute;
                        width: 30%;
                        top: 0;
                        right: 0;
                    }
                    .card-body {
                        height: 200px;
                        .card-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            bottom: 0;
                            left: 0;
                            text-align: center;
                            height: 20vh;
                            width: 65%;
                            position: absolute;
                            z-index: 0;
                            text-shadow: $C1 1px 1px, $C1 -1px 1px, $C1 -1px -1px, $C1 1px -1px;
                            span {
                                vertical-align: middle;
                                font-size: 1.5vh;
                                &::selection {
                                    color: $C1;
                                    background-color: rgba(0, 119, 255, 0.479);
                                }
                            }
                        }
                    }
                }
                &:hover {
                    transform: scale(0.99);
                }
            }
        }
        .generateur {
            z-index: 1;
            color: $C2;
            text-shadow: $C1 1px 1px, $C1 -1px 1px, $C1 -1px -1px, $C1 1px -1px;
            white-space: nowrap;
            vertical-align: baseline;
            height: 20px;
            position: absolute;
            width: 30%;
            top: 25px;
            right: 0;
            border: solid 1px $C1;
            border-left: solid 2px $C1;
            text-align: center;
            vertical-align: middle;
            font-size: 10px;
            background: black;
        }
    }
    
    // Les badges
    .Javascript {
        background-color: rgba(251, 255, 0, 0.445);
        @include F1()
    }
    
    .CSS {
        background-color: rgba(245, 24, 0, 0.555);
        @include F1()
    }
    
    .HTML {
        background-color: rgba(17, 0, 255, 0.466);
        @include F1()
    }
    
    .Bootstrap {
        background-color: rgba(5, 0, 73, 0.274);
        @include F1()
    }
    
    .WordPress {
        background-color: rgba(0, 176, 230, 0.493);
        @include F1()
    }
    
    .React {
        background-color: #62dafb75;
        @include F1()
    }
    
    .PHP {
        background-color: #9062fb79;
        @include F1()
    }
    
    .GEN {
        background-color: #ffffff79;
    }
    
    // Travail sur le footer
    footer {
        a {
            color: $C1;
            background-color: $C3;
            &:hover {
                color: $C1;
                background-color: $C2;
                margin-top: 1px;
            }
        }
        p {
            margin-left: 0;
            margin-top: auto;
            margin-bottom: auto;
            text-align: right;
        }
        .searcher {
            margin-left: auto;
            margin-right: auto;
        }
        .footer-navbar {
            color: red;
            border-color: red;
            height: 50px;
            width: 50px;
        }
        .footer-navbar-icon {
            background-image: url("../pics/T_T.png");
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
        }
    }