$C1:black;
$C2:rgb(255, 255, 255);
$C3:rgb(0, 42, 56);
@mixin F1() {
    color: $C1;
    font-family: 'Kalam', cursive;
    text-shadow: $C2 1px 1px, $C2 -1px 1px, $C2 -1px -1px, $C2 1px -1px;
    font-weight: bold;
    width: 100%;
    font-size: 1.2em;
}

@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
#brand {
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
}

.nav-item {
    a {
        font-family: 'Nerko One', cursive;
        font-size: large;
    }
}

body {
    background-color: #1b1b1b;
    overflow: hidden;
}

.searcher {
    select {
        width: 95px;
    }
    input {
        width: 35vw;
    }
    button {
        width: 50px;
        height: 50px;
        margin: 0;
    }
}

// Version en paysage
@media (orientation:landscape) {
    .scrollbar {
        margin-top: 15px;
        overflow-y: scroll;
        height: 83vh;
        section {

display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content:space-between;
}}}

// Version en portrait
@media (orientation: portrait) {
    .scrollbar {
        margin-top: 15px;
        overflow-y: scroll;
        height: 81vh;
        margin: 5px 5px;
        section {
display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content:space-between;
        }}}



// La barre de défilement
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

footer {
    background-color: #343a40 !important;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    p {
        color: white;
        @media only screen and (max-width: 600px) {
            font-size: 2.1vw;
        }
        a {
            color: grey;
            &:hover {
                color: rgb(160, 160, 160);
            }
        }
    }
}

// Tout pour l'index
h1 {
    color: white;
    text-align: center;
    font-family: 'Nerko One', cursive;
}

.presentation {
    position: relative;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.5);
    h2 {
        border-radius: 0 0 50px 50px;
        display: block;
        border-bottom: 2px grey solid;
        width: 100%;
        background-color: $C2;
        color: $C1;
        text-align: center;
        ;
    }
    p {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        padding-bottom: 10px;
    }
    .separation {
        display: flex;
        width: 60vw;
        margin: auto auto;
        ul {
            list-style-type: none;
            text-align: center;
            border: 2px grey solid;
            width: 50%;
            padding: 0;
            li {
                border: 1px rgb(255, 255, 255) solid;
                background-color: black;
                color: white;
                &:nth-child(2n-1) {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
    color: white;
    margin:auto auto;
}

// La sélection de la page d'accueil
@media (orientation:landscape) {
    .index_selection {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        scroll-behavior: smooth;
        flex: 1;
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        min-height: 0;
        margin-top: 15px;
    }
}

// Version en portrait
@media (orientation: portrait) {
    .index_selection {
        flex-direction: column!important;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
}